@import '../styles/template/components.scss';

.wrap {
    @extend %wrap;
}

.first_block {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: flex-start;
    
     span {
        @extend %line;
    }
}

.first_title {
    @extend %first_title;
}

.second_title {
    @extend %second_title;
}

.second_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 50px;
    padding-top: 10px;
}

.paragraph {
    @extend %paragraph;
}
